In [1]:
import pandas as pd 
import numpy as np 
# Read each file as data frames.
dw_tweets_df = pd.read_csv("./Resources/text_emotion.csv", index_col=[0])

In [2]:
dw_tweets_df.drop('author', axis=1, inplace=True)

In [3]:
dw_tweets_df

             sentiment                                            content
tweet_id
1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
1956967696     sadness                Funeral ceremony...gloomy friday...
1956967789  enthusiasm               wants to hang out with friends SOON!
1956968416     neutral  @dannycastillo We want to trade with someone w...
...                ...                                                ...
1753918954     neutral                                   @JohnLloydTaylor
1753919001        love                     Happy Mothers Day  All my love
1753919005        love  Happy Mother's Day to all the mommies out ther...
1753919043   happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
1753919049        love  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 2 columns]

In [4]:
dw_tweets_df['sentiment'].unique()

array(['empty', 'sadness', 'enthusiasm', 'neutral', 'worry', 'surprise',
       'love', 'fun', 'hate', 'happiness', 'boredom', 'relief', 'anger'],
      dtype=object)

In [5]:
target = {
    'sadness': 0,
    'worry': 0,
    'hare': 0,
    'boredom': 0, 
    'anger': 0,
    'enthusiasm': 1,
    'love': 1,
    'fun': 1,
    'happiness': 1,
    'relief': 1
}

In [6]:
dw_tweets_df["target"] = dw_tweets_df["sentiment"].map(target)

In [7]:
dw_tweets_df

,sentiment,content,target
tweet_id,,,
1956967341,empty,@tiffanylue i know i was listenin to bad habi...,NaN
1956967666,sadness,Layin n bed with a headache ughhhh...waitin o...,0.0
1956967696,sadness,Funeral ceremony...gloomy friday...,0.0
1956967789,enthusiasm,wants to hang out with friends SOON!,1.0
1956968416,neutral,@dannycastillo We want to trade with someone w...,NaN
...,...,...,...
1753918954,neutral,@JohnLloydTaylor,NaN
1753919001,love,Happy Mothers Day All my love,1.0
1753919005,love,Happy Mother's Day to all the mommies out ther...,1.0
1753919043,happiness,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...,1.0
1753919049,love,@mopedronin bullet train from tokyo the gf ...,1.0

In [8]:
dw_tweets_df.drop('sentiment', axis=1, inplace=True)

In [9]:
dw_tweets_df

                                                      content  target
tweet_id
1956967341  @tiffanylue i know  i was listenin to bad habi...     NaN
1956967666  Layin n bed with a headache  ughhhh...waitin o...     0.0
1956967696                Funeral ceremony...gloomy friday...     0.0
1956967789               wants to hang out with friends SOON!     1.0
1956968416  @dannycastillo We want to trade with someone w...     NaN
...                                                       ...     ...
1753918954                                   @JohnLloydTaylor     NaN
1753919001                     Happy Mothers Day  All my love     1.0
1753919005  Happy Mother's Day to all the mommies out ther...     1.0
1753919043  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...     1.0
1753919049  @mopedronin bullet train from tokyo    the gf ...     1.0

[40000 rows x 2 columns]

In [18]:
dw_tweets_df.dropna()

                                                      content  target
tweet_id
1956967666  Layin n bed with a headache  ughhhh...waitin o...     0.0
1956967696                Funeral ceremony...gloomy friday...     0.0
1956967789               wants to hang out with friends SOON!     1.0
1956968477  Re-pinging @ghostridah14: why didn't you go to...     0.0
1956968487  I should be sleep, but im not! thinking about ...     0.0
...                                                       ...     ...
1753918900                      Succesfully following Tayla!!     1.0
1753919001                     Happy Mothers Day  All my love     1.0
1753919005  Happy Mother's Day to all the mommies out ther...     1.0
1753919043  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...     1.0
1753919049  @mopedronin bullet train from tokyo    the gf ...     1.0

[27025 rows x 2 columns]

In [19]:
dw_pos_df = dw_tweets_df[dw_tweets_df['target'] > 0]

In [20]:
dw_pos_df

                                                      content  target
tweet_id
1956967789               wants to hang out with friends SOON!     1.0
1956971170                               @annarosekerr agreed     1.0
1956972097  Wondering why I'm awake at 7am,writing a new s...     1.0
1956977084  mmm much better day... so far! it's still quit...     1.0
1956977187  @DavidArchie &lt;3 your gonna be the first  tw...     1.0
...                                                       ...     ...
1753918900                      Succesfully following Tayla!!     1.0
1753919001                     Happy Mothers Day  All my love     1.0
1753919005  Happy Mother's Day to all the mommies out ther...     1.0
1753919043  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...     1.0
1753919049  @mopedronin bullet train from tokyo    the gf ...     1.0

[13112 rows x 2 columns]

In [21]:
dw_neg_df = dw_tweets_df[dw_tweets_df['target'] < 1]

In [22]:
dw_neg_df

                                                      content  target
tweet_id
1956967666  Layin n bed with a headache  ughhhh...waitin o...     0.0
1956967696                Funeral ceremony...gloomy friday...     0.0
1956968477  Re-pinging @ghostridah14: why didn't you go to...     0.0
1956968487  I should be sleep, but im not! thinking about ...     0.0
1956968636               Hmmm. http://www.djhero.com/ is down     0.0
...                                                       ...     ...
1753903509  @watermelon39 haha! And Twitter! Hard though i...     0.0
1753903578  @PH7S sure. But be careful also of making stat...     0.0
1753903987                 How Do You Sleep - Jesse McCartney     0.0
1753904398                         is heading off to the fair     0.0
1753904868  @givemestrength bloody Feds, they lost last st...     0.0

[13913 rows x 2 columns]

In [23]:
dw_neg_df.to_csv('../Cleaning_PseudoCode/Resources/dw_neg.csv')

In [24]:
dw_pos_df.to_csv('../Cleaning_PseudoCode/Resources/dw_pos.csv')