In [1]:
import pandas as pd

In [2]:
initial_data = pd.read_csv("resources/original_data/initial_data.csv", index_col=[0] )

In [3]:
initial_data

       attitude                                             tweets
0       neutral  Won the match #getin . Plus\u002c tomorrow is ...
1       neutral  Some areas of New England could see the first ...
2      negative  @francesco_con40 2nd worst QB. DEFINITELY Tony...
3       neutral  #Thailand Washington - US President Barack Oba...
4       neutral  Did y\u2019all hear what Tony Romo dressed up ...
...         ...                                                ...
46033  positive  @Racalto_SK ok good to know. Punting at MetLif...
46034   neutral  everyone who sat around me at metlife was so a...
46035   neutral  what giants or niners fans would wanna go to t...
46036  positive  Anybody want a ticket for tomorrow Colombia vs...
46037   neutral  Mendez told me he'd drive me to MetLife on Sun...

[45457 rows x 2 columns]

In [4]:
neutral_df = initial_data[initial_data["attitude"] == "neutral"]
neutral_df

      attitude                                             tweets
0      neutral  Won the match #getin . Plus\u002c tomorrow is ...
1      neutral  Some areas of New England could see the first ...
3      neutral  #Thailand Washington - US President Barack Oba...
4      neutral  Did y\u2019all hear what Tony Romo dressed up ...
7      neutral  Tina Fey & Amy Poehler are hosting the Golden ...
...        ...                                                ...
46020  neutral                                  @RawbCas3 Alright
46028  neutral  @uglyuni my mom already bought tickets and the...
46034  neutral  everyone who sat around me at metlife was so a...
46035  neutral  what giants or niners fans would wanna go to t...
46037  neutral  Mendez told me he'd drive me to MetLife on Sun...

[20509 rows x 2 columns]

In [5]:
positive_df = initial_data[initial_data["attitude"] == "positive"]
positive_df

       attitude                                             tweets
5      positive  Tim Tebow may be availible ! Wow Jerry \u002c ...
6      positive  @mariakaykay aga tayo tomorrow ah. :) Good nig...
8      positive  Lunch from my new Lil spot ...THE COTTON BOWL ...
9      positive  SNC Halloween Pr. Pumped. Let\u2019s work it f...
14     positive  Louis inspired outfit on Monday and Zayn inspi...
...         ...                                                ...
46030  positive   Heading up to MetLife tomorrow for the Jets game
46031  positive  Going to MetLife tomorrow but not to see the b...
46032  positive  It's the first Football Friday of the year. Th...
46033  positive  @Racalto_SK ok good to know. Punting at MetLif...
46036  positive  Anybody want a ticket for tomorrow Colombia vs...

[17893 rows x 2 columns]

In [6]:
negative_df = initial_data[initial_data["attitude"] == "negative"]
negative_df

       attitude                                             tweets
2      negative  @francesco_con40 2nd worst QB. DEFINITELY Tony...
10     negative  @jacquelinemegan I\u2019m sorry\u002c I Heart ...
19     negative  @prodnose is this one of your little jokes lik...
21     negative  Gold edges down ahead of US jobs data: SINGAPO...
25     negative  Monday before I leave Singapore\u002c I am goi...
...         ...                                                ...
45952  negative  @itssabrinagable some acc on twitter which is ...
45954  negative  @bestdittyvideos ok so someone on Twitter said...
45955  negative  today is the day "harry styles will die at met...
45991  negative  @Harry_Styles still upset you didn't tweet abo...
46026  negative  Still bitter that they didn't tweet about MetL...

[7054 rows x 2 columns]

In [7]:
neutral_df.to_csv("resources/filtered_data/neutral.csv", index=True)

In [8]:
positive_df.to_csv("resources/filtered_data/positive.csv", index=True)

In [9]:
negative_df.to_csv("resources/filtered_data/negative.csv", index=True)